.list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  list-style: none;
}
.item {
  margin: 10px;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: #e8eaee;
  transition: 0.25s;
}

.item:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.image {
  width: 100px;
  height: auto;
}
